@import (reference) '~styles/vars';

@text-color: #767676;
@dLeftOffset: 15px;
@dRightOffset: 20px;
@dIconSize: 14px;
@dRightOffsetWithIcon: (@dIconSize + @dRightOffset * 2);
@input-height: 56px;

.form-input {
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;

    @media (min-width: @dScreenSm) {
        width: 380px;
    }

    &__wrapper {
        border-bottom: rgba(185, 185, 185, 0.67) 2px solid;
        height: @input-height;
        margin-bottom: 20px;
        position: relative;
        transition: 0.2s  ease-in-out;
        transition-property: border-color;
        width: 100%;

        &_active {
            border-bottom: @aqua-color 2px solid;
            outline: none;
            transition: 0.5s  ease-in-out;
        }
    }

    &__input {
        background: transparent;
        border: none;
        color: @text-color;
        display: block;
        font-size: 16px;
        letter-spacing: 0.15rem;
        line-height: 1.2;
        padding: 27px 45px 0 15px;
        position: absolute;
        width: 100%;
        z-index: 2;

        &:focus,
        &:active {
            outline: none;
        }
    }

    &__label {
        color: @text-color;
        font-size: 16px;
        height: 100%;
        left: 0;
        line-height: 20px;
        overflow: hidden;
        padding: 17px @dRightOffsetWithIcon 0 @dLeftOffset;
        position: absolute;
        text-align: left;
        text-overflow: ellipsis;
        transition: 0.2s  ease-in-out;
        transition-property: color, font-size, padding-top;
        white-space: nowrap;
        width: 100%;
        z-index: 1;

        &_active {
            .placeholder-minimized;
        }
    }
}

.placeholder-minimized() {
    color: @aqua-color;
    font-size: 12px;
    padding-top: 7px;
    pointer-events: none;
}
