@import (reference) '~styles/vars';

@auth-form-bg: rgb(236, 236, 236);
@btn-submit-bg: -webkit-linear-gradient(left, #2dbca9, #06ae8e, #89c9c3);
@logo-size: 120px;

@dLeftOffset: 15px;
@dRightOffset: 20px;
@dIconSize: 14px;

.auth-form {
    background-color: @auth-form-bg;
    font-family: Rubik, sans-serif;
    margin: 0 auto;
    min-height: 100vh;
    padding: 40px 60px;
    width: 100%;

    @media (min-width: @dScreenXs) {
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.14), 0 10px 10px rgba(0, 0, 0, 0.12);
        margin: 100px auto;
        width: 500px;
    }

    &__logo {
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        color: #636363;
        display: flex;
        font-size: 40px;
        height: @logo-size - 40px;
        justify-content: center;
        margin: 0 auto 20px;
        width: @logo-size - 40px;

        @media (min-width: @dScreenXs) {
            font-size: 60px;
            height: @logo-size;
            margin: 0 auto 30px;
            width: @logo-size;
        }

        img {
            width: @logo-size * 0.65;
        }
    }

    &__title {
        color: @text-color;
        display: block;
        font-size: 25px;
        line-height: 1.2;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: @dScreenXs) {
            font-size: 30px;
            margin-bottom: 40px;
        }
    }

    &__btn-submit {
        background: @btn-submit-bg;
        border: none;
        border-radius: 20px;
        box-shadow: 0 10px 6px -8px #d1d1d1;
        color: #fff;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        height: 40px;
        line-height: 1.8;
        margin-top: 40px;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
}
