@import (reference) '~styles/vars';

@dMenuWidth: 320px;
@menu-z-index: 100;

.side-menu {
    background-color: #eaeaea;
    bottom: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.64);
    display: block;
    flex-flow: column;
    font-size: 18px;
    height: 100%;
    left: calc(-100%);
    overflow: hidden auto;
    padding-top: 20px;
    position: fixed;
    top: 0;
    transition: left 0.7s ease-in-out;
    width: @dMenuWidth;
    z-index: @menu-z-index;

    &_opened {
        @media (max-width: @dScreenXs) {
            display: block;
            left: 0;
        }
    }
}
