@import (reference) '~styles/vars';

.wrapper {
    background-color: transparent;
    height: auto;
    margin-top: @header-height;
    overflow: auto;
    padding: 20px;

    @media (min-width: @dScreenXs) {
        padding: 30px;
    }
}
