@import '~antd/lib/table/style/index.less';

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

#root {
    height: auto;
    min-height: 100vh;
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition-delay: 99999s !important; // Hack for :autofill styles override
    transition-property: background-color, color;
}
