@import (reference) '~styles/vars';

@header-bg: #f7f7f7;
@menu-item-color: #7e7e7e;

.header {
    align-items: center;
    background-color: @header-bg;
    box-shadow: 0 2px 5px 0 rgba(169, 169, 169, 0.16), 0 2px 10px 0 rgba(64, 64, 64, 0.12);
    color: @menu-item-color;
    display: flex;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: @header-height;
    justify-content: center;
    letter-spacing: 0.1em;
    line-height: 16px;
    padding: 0 24px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;

    &__menu-item {
        cursor: pointer;
        display: none;
        margin: 8px 20px;

        @media (min-width: @dScreenXs) {
            display: inline-block;
        }

        &:hover {
            color: @aqua-color;
            transition-duration: 0.5s;
        }

        &_active {
            border-bottom: 2px solid #fff;
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &__hamburger-wrapper {
        cursor: pointer;
        display: inline-block;
        left: 20px;
        position: absolute;
        top: 17px;

        @media (min-width: @dScreenXs) {
            display: none;
        }
    }

    &__hamburger-btn {
        background: none;
        border: none;
        color: @text-color;
        cursor: pointer;
        font-size: 20px;
    }

    &__dropdown {
        cursor: pointer;
        display: inline-block;
        position: absolute;
        right: 20px;
    }

    &__close-icon {
        background: transparent;
        border: none;
        color: @text-color;
        cursor: pointer;
        font-size: 15px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    &__side-menu-item {
        border: none;
        color: @text-color;
        cursor: pointer;
        display: inline-block;
        font-weight: 500;
        letter-spacing: 0.1em;
        margin: 40px 20% 0 40px;
        text-align: left;

        a {
            color: inherit;
            text-decoration: none;
        }

        &_hidden {
            display: none;
        }
    }

    .side-menu-icon {
        display: inline-block;
        margin-right: 15px;
    }
}
